<form [formGroup]="data"  (ngSubmit)="onSubmit()">
  <div class="form-group col-xs-12 col-sm-6">
    <input type="hidden" formControlName="id" />
    <label class="center-block">Name:
      <input class="form-control" formControlName="name" required>
      <span *ngIf="data.get('name').hasError('required') && data.get('name').touched">
          Please enter a name.
      </span>
    </label>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label class="center-block">Username:
      <input class="form-control" formControlName="username">
      <span *ngIf="data.get('username').hasError('required') && data.get('username').touched">
          Please enter an username.
      </span>
    </label>
  </div>
  <div class="form-group col-xs-12">
    <label class="center-block">Email:
      <input type="email" class="form-control" formControlName="email">
      <span *ngIf="data.hasError('email', 'email') && data.get('email').touched">
          Please enter the correct email, this email not valid.
      </span>
    </label>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label class="center-block">Phone:
      <input class="form-control" formControlName="phone">
      <span *ngIf="data.get('phone').hasError('required') && data.get('phone').touched">
          Please enter a phone number.
      </span>
    </label>
  </div>
  <div formGroupName="address">
    <div class="form-group col-xs-12 col-sm-6">
      <label class="center-block">Street:
        <input class="form-control" formControlName="street">
        <span *ngIf="data.get('address.street').hasError('required') && data.get('address.street').touched">
          Please enter a street address.
        </span>
      </label>
    </div>
    <div class="form-group col-xs-12 col-sm-2">
      <label class="center-block">Suite:
        <input class="form-control" formControlName="suite">
        <span *ngIf="data.get('address.suite').hasError('required') && data.get('address.suite').touched">
          Please enter a suite address.
        </span>
      </label>
    </div>
    <div class="form-group col-xs-12 col-sm-5">
      <label class="center-block">City:
        <input class="form-control" formControlName="city">
        <span *ngIf="data.get('address.city').hasError('required') && data.get('address.city').touched">
          Please enter a city.
        </span>
      </label>
    </div>
    <div class="form-group col-xs-12 col-sm-5">
      <label class="center-block">Zipcode:
        <input class="form-control" formControlName="zipcode">
        <span *ngIf="data.get('address.zipcode').hasError('required') && data.get('address.zipcode').touched">
          Please enter the zipcode.
        </span>
      </label>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <label class="center-block">Website:
      <input class="form-control" formControlName="website">
      <span *ngIf="data.get('website').hasError('required') && data.get('website').touched">
          Please enter a website.
        </span>
    </label>
  </div>
  <div formGroupName="company">
    <div class="form-group col-xs-12 col-sm-6">
      <label class="center-block">Company Name:
        <input class="form-control" formControlName="name">
        <span *ngIf="data.get('company.name').hasError('required') && data.get('company.name').touched">
          Please enter the company name.
        </span>
      </label>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <label class="center-block">BS:
        <input class="form-control" formControlName="bs">
        <span *ngIf="data.get('company.bs').hasError('required') && data.get('company.bs').touched">
          Please enter the company bs.
        </span>
      </label>
    </div>
    <div class="form-group col-xs-12">
      <label class="center-block">Catch Phrase:
        <input class="form-control" formControlName="catchPhrase">
        <span *ngIf="data.get('company.catchPhrase').hasError('required') && data.get('company.catchPhrase').touched">
          Please enter the company catch phrase.
        </span>
      </label>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="submit"
            [disabled]="data.pristine"  class="btn btn-success">Save</button> 
  </div>
</form>
